.container {
  padding: 45px 0;
  position: relative;
  z-index: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.table {
  position: relative;
  width: 90vw;
  max-width: 500px;
  text-align: left;
  border: 2px solid rgba(128, 128, 128, 0.2);
}

.table:last-child {
  margin-bottom: 10px;
}

.tableWrapper {
  overflow: scroll;
}

.thead {
  background-color: #eaeaeab1;
}

.td {
  font-size: 16px;
}

.td button {
  padding: 5px 10px;
  font-size: 25px !important;
}

.td button:first-child {
  margin-right: 10px;
}

@media (max-width: 468px) {
  .td button {
    font-size: 20px !important;
  }
}
