@keyframes displayAlert {
  0% {
    opacity: 0;
    left: 45%;
    transform: translateX(-45%);
  }
  25% {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  75% {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    opacity: 0;
    left: 55%;
    transform: translateX(-55%);
  }
}

.container {
  width: 500px;
  height: 55px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-left: 10px green solid;
  animation: displayAlert;
  animation-duration: 3s;
  transition: 3s all ease-in-out;
  /* forwards ensures the animation doesn't reset */
  animation-fill-mode: forwards;
}

.header {
  margin-bottom: 0;
  margin-left: 20px;
}

@media screen and (max-width: 730px) {
  .container {
    width: 90vw;
    max-width: 400px;
  }
}
