.container {
  width: 100vw;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  z-index: 1;
}

.listItem {
  list-style: none;
  cursor: pointer;
}

.header {
  margin: 0;
}
