.container {
  height: 75px;
  background-color: rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem {
  list-style: none;
  cursor: pointer;
}

.header {
  margin: 0;
}
