.form {
  box-sizing: border-box;
  margin-top: 25px;
  display: grid;
  grid-template: 1fr 1fr / 250px 250px 250px;
  gap: 20px;
  justify-content: center;
}

.inputWrapper {
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.specialInputs {
  width: 50% !important;
}

.secondaryPrompt {
  margin-top: -5px !important;
}

.signWrapper {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
}

.signInnerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signInnerItems {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.signInnerItems:last-child {
  margin-right: 0;
}

.signInnerItems:last-child input {
  width: 300px;
}

.sectionHeader {
  letter-spacing: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  text-transform: uppercase;
  font-size: 22.5px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionHeader2 {
  letter-spacing: 1px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 22.5px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hr {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.fullCol {
  grid-column-start: 1;
  grid-column-end: 4;
}

.medCol {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact {
  grid-column-start: 1;
  grid-column-end: 3;
}

.yesCheckbox {
  margin-right: 4px;
}

.noCheckbox {
  margin-right: 4px;
  margin-left: 10px;
}

.physicalExam {
  grid-column-start: 1;
  grid-column-end: 2;
}

.physicalExamLabel {
  width: 500px;
}

.checkboxWrapper {
  display: flex;
}

.shortText {
  height: 115px;
}

.shorterText {
  height: 90px;
}

.confirm {
  margin-top: 5px;
}

.clearSig {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 125px !important;
}

.dateSelect {
  width: 175px !important;
}

.submitBtn {
  width: 225px;
  margin-top: 10px;
}

.medicalCondition {
  display: grid;
  justify-content: space-between;
  grid-template: 1fr 1fr/ 250px 250px 250px;
}

.errorMsg,
.errorMsgDate,
.mainErrorMsg {
  color: red;
  width: 100vw;
}
.errorMsg {
  margin-bottom: 0px;
}

.errorMsgDate {
  position: absolute;
  top: 70px;
  margin-top: 5px;
  margin-bottom: 0;
}

.mainErrorMsg {
  position: absolute;
  bottom: -35px;
  margin-bottom: 0;
}

@media (max-width: 815px) {
  .specialInputs {
    width: 70% !important;
  }

  .form {
    grid-template: 1fr 1fr / 27.3vw 27.3vw 27.3vw;
  }

  .signInnerWrapper {
    flex-direction: column;
    width: fit-content;
  }

  .signWrapper {
    flex-direction: column;
  }

  .signInnerItems:last-child {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .signInnerItems {
    margin-right: 0;
  }

  .confirm {
    margin-top: 5px;
  }

  .medicalCondition {
    display: flex;
    flex-direction: column;
  }
  .otherCond {
    width: 100%;
  }

  .errorMsgDate {
    top: 70px;
  }

  .submitBtn {
    margin-top: 40px;
  }
}
@media (max-width: 730px) {
  .errorMsgDate {
    top: 55px;
  }
}
@media (max-width: 640px) {
  .inputWrapper {
    grid-column-start: 1 !important;
    grid-column-end: 4 !important;
    margin-top: 5px;
  }

  .specialInputs {
    width: 100% !important;
  }
}
